<?xml version="1.0"?>
<config>
    <modules>
        <EM_EvaSettings>
            <version>0.1.0</version>
        </EM_EvaSettings>
    </modules>
	 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <eva>
                                            <title>Image Configure</title>
                                        </eva>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <frontend>
        <routers>
            <evasettings>
                <use>standard</use>
                <args>
                    <module>EM_EvaSettings</module>
                    <frontName>evasettings</frontName>
                </args>
            </evasettings>
        </routers>
        <layout>
            <updates>
                <evasettings>
                    <file>evasettings.xml</file>
                </evasettings>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<evasettings>
				<use>admin</use>
				<args>
					<module>EM_EvaSettings</module>
					<frontName>evasettings</frontName>
				</args>
			</evasettings>
        </routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<EM_EvaSettings>
							<title>EvaSettings Module</title>
							<sort_order>10</sort_order>
						</EM_EvaSettings>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<evasettings>
					<file>evasettings.xml</file>
				</evasettings>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <evasettings>
                <class>EM_EvaSettings_Model</class>
                <resourceModel>evasettings_mysql4</resourceModel>
            </evasettings>
            <evasettings_mysql4>
                <class>EM_EvaSettings_Model_Mysql4</class>
                <entities>
                    <evasettings>
                        <table>evasettings</table>
                    </evasettings>
                </entities>
            </evasettings_mysql4>
        </models>
        <resources>
            <evasettings_setup>
                <setup>
                    <module>EM_EvaSettings</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </evasettings_setup>
            <evasettings_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </evasettings_write>
            <evasettings_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </evasettings_read>
        </resources>
        <blocks>
            <evasettings>
                <class>EM_EvaSettings_Block</class>
            </evasettings>
        </blocks>
        <helpers>
            <evasettings>
                <class>EM_EvaSettings_Helper</class>
            </evasettings>
        </helpers>
    </global>
	<default>
		<eva>
			<color>
				<body_font>12px/1.5 Arial, sans-serif</body_font>
				<body_bg_color>#fff</body_bg_color>
				<body_bg_pattern>pattern/1.png</body_bg_pattern>
				<link_color>#c20066</link_color>
				<header_bg_image>header_top.png</header_bg_image>
				<nav_bg_image>bg_menu.png</nav_bg_image>
				<nav_text_color>#bebebe</nav_text_color>
				<nav_top_menu_font>normal bold 12px/1.55 Arial,sans-serif</nav_top_menu_font>
				<nav_top_menu_text_color>#fff</nav_top_menu_text_color>
				<nav_top_menu_text_hover_color>#fff</nav_top_menu_text_hover_color>
				<nav_sub_menu_font>normal 12px/1.55 Arial,sans-serif</nav_sub_menu_font>
				<nav_sub_menu_text_color>#bebebe</nav_sub_menu_text_color>
				<nav_sub_menu_text_hover_color>#fff</nav_sub_menu_text_hover_color>
				<caption_bg_color>#000</caption_bg_color>
				<block_title_font>bold 14px/31px Arial, sans-serif</block_title_font>
				<block_title_color>#fff</block_title_color>
				<secondary_color>#AB0051</secondary_color>
			</color>
			<image>
				<grid_thumb_width>135</grid_thumb_width>
				<grid_thumb_height>135</grid_thumb_height>
				<grid_thumb_bgcolor>#FFF</grid_thumb_bgcolor>
				<listing_thumb_width>135</listing_thumb_width>
				<listing_thumb_height>135</listing_thumb_height>
                <listing_thumb_bgcolor>#FFF</listing_thumb_bgcolor>
				<base_image_width>256</base_image_width>
                <base_image_height>256</base_image_height>
				<base_image_bgcolor>#FFF</base_image_bgcolor>
                <thumb_base_width>56</thumb_base_width>
				<thumb_base_height>56</thumb_base_height>
                <thumb_base_bgcolor>#FFF</thumb_base_bgcolor>
				<related_width>50</related_width>
                <related_height>50</related_height>
				<related_bgcolor>#FFF</related_bgcolor>
                <crosssell_width>75</crosssell_width>
				<crosssell_height>75</crosssell_height>
                <crosssell_bgcolor>#FFF</crosssell_bgcolor>
				<upsell_width>125</upsell_width>
                <upsell_height>125</upsell_height>
				<upsell_bgcolor>#FFF</upsell_bgcolor>
                <widget_width>225</widget_width>
				<widget_height>225</widget_height>
                <widget_bgcolor>#FFF</widget_bgcolor>
			</image>
		</eva>
	</default>
</config>